<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>A</key>
    <string>A_.glif</string>
    <key>Dzhe-cy</key>
    <string>D_zhe-cy.glif</string>
    <key>G.alt</key>
    <string>G_.alt.glif</string>
    <key>Imacron</key>
    <string>I_macron.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>Racute.alt</key>
    <string>R_acute.alt.glif</string>
    <key>Rcaron.alt</key>
    <string>R_caron.alt.glif</string>
    <key>Rcommaaccent.alt</key>
    <string>R_commaaccent.alt.glif</string>
    <key>aringacute.alt</key>
    <string>aringacute.alt.glif</string>
    <key>baht</key>
    <string>baht.glif</string>
    <key>brevecomb_acutecomb.cap</key>
    <string>brevecomb_acutecomb.cap.glif</string>
    <key>brevecomb_gravecomb.cap</key>
    <string>brevecomb_gravecomb.cap.glif</string>
    <key>brevecomb_hookabovecomb.cap</key>
    <string>brevecomb_hookabovecomb.cap.glif</string>
    <key>brevecomb_tildecomb.cap</key>
    <string>brevecomb_tildecomb.cap.glif</string>
    <key>cent.cap</key>
    <string>cent.cap.glif</string>
    <key>circumflexcomb.cap</key>
    <string>circumflexcomb.cap.glif</string>
    <key>circumflexcomb_acutecomb.cap</key>
    <string>circumflexcomb_acutecomb.cap.glif</string>
    <key>circumflexcomb_gravecomb.cap</key>
    <string>circumflexcomb_gravecomb.cap.glif</string>
    <key>circumflexcomb_hookabovecomb.cap</key>
    <string>circumflexcomb_hookabovecomb.cap.glif</string>
    <key>circumflexcomb_tildecomb.cap</key>
    <string>circumflexcomb_tildecomb.cap.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>four.sc</key>
    <string>four.sc.glif</string>
    <key>h.sc</key>
    <string>h.sc.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>lira.cap</key>
    <string>lira.cap.glif</string>
    <key>liraTurkish.cap</key>
    <string>liraT_urkish.cap.glif</string>
    <key>m.sc</key>
    <string>m.sc.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>peso</key>
    <string>peso.glif</string>
    <key>peso.cap</key>
    <string>peso.cap.glif</string>
    <key>r_t</key>
    <string>r_t.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>tbar.alt</key>
    <string>tbar.alt.glif</string>
    <key>tcaron.alt</key>
    <string>tcaron.alt.glif</string>
    <key>tcommaaccent.alt</key>
    <string>tcommaaccent.alt.glif</string>
    <key>won</key>
    <string>won.glif</string>
    <key>y</key>
    <string>y.glif</string>
    <key>y.sc</key>
    <string>y.sc.glif</string>
  </dict>
</plist>
