<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>one.tf</key>
    <string>one.tf.glif</string>
    <key>percent</key>
    <string>percent.glif</string>
    <key>percent.cap</key>
    <string>percent.cap.glif</string>
    <key>pertenthousand</key>
    <string>pertenthousand.glif</string>
  </dict>
</plist>
