<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>716</integer>
    <key>capHeight</key>
    <integer>716</integer>
    <key>copyright</key>
    <string>Copyright 2025 The Google Sans Project Authors (github.com/googlefonts/googlesans)</string>
    <key>descender</key>
    <integer>-216</integer>
    <key>familyName</key>
    <string>Google Sans</string>
    <key>guidelines</key>
    <array/>
    <key>italicAngle</key>
    <integer>-10</integer>
    <key>openTypeHeadCreated</key>
    <string>2017/05/02 10:18:26</string>
    <key>openTypeHheaAscender</key>
    <integer>966</integer>
    <key>openTypeHheaDescender</key>
    <integer>-286</integer>
    <key>openTypeHheaLineGap</key>
    <integer>0</integer>
    <key>openTypeNameDesigner</key>
    <string>Google Sans Authors</string>
    <key>openTypeNameLicense</key>
    <string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: https://openfontlicense.org</string>
    <key>openTypeNameLicenseURL</key>
    <string>https://openfontlicense.org</string>
    <key>openTypeNameManufacturer</key>
    <string>Google LLC</string>
    <key>openTypeNameManufacturerURL</key>
    <string>https://design.google</string>
    <key>openTypeOS2Selection</key>
    <array>
      <integer>7</integer>
    </array>
    <key>openTypeOS2StrikeoutPosition</key>
    <integer>306</integer>
    <key>openTypeOS2StrikeoutSize</key>
    <integer>84</integer>
    <key>openTypeOS2Type</key>
    <array/>
    <key>openTypeOS2TypoAscender</key>
    <integer>966</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-286</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>0</integer>
    <key>openTypeOS2VendorID</key>
    <string>GOOG</string>
    <key>openTypeOS2WinAscent</key>
    <integer>1323</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>1079</integer>
    <key>postscriptBlueValues</key>
    <array>
      <integer>-16</integer>
      <integer>0</integer>
      <integer>526</integer>
      <integer>542</integer>
      <integer>580</integer>
      <integer>596</integer>
      <integer>716</integer>
      <integer>732</integer>
    </array>
    <key>postscriptOtherBlues</key>
    <array>
      <integer>-232</integer>
      <integer>-216</integer>
    </array>
    <key>postscriptUnderlinePosition</key>
    <integer>-160</integer>
    <key>postscriptUnderlineThickness</key>
    <integer>84</integer>
    <key>styleName</key>
    <string>Text Italic GRAD200</string>
    <key>trademark</key>
    <string>“Google” and “Google Sans” are trademarks of Google LLC.</string>
    <key>unitsPerEm</key>
    <integer>1000</integer>
    <key>versionMajor</key>
    <integer>12</integer>
    <key>versionMinor</key>
    <integer>2</integer>
    <key>xHeight</key>
    <integer>526</integer>
  </dict>
</plist>
