@font-face {
	font-family: 'basis-grotesque-medium-pro';
	src: url('../fonts/basis-grotesque-medium-pro.eot?#iefix') format('embedded-opentype'),
	url('../fonts/basis-grotesque-medium-pro.woff') format('woff'),
	url('../fonts/basis-grotesque-medium-pro.ttf')  format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'basis-grotesque-regular-custom';
	src: url('../fonts/basis-grotesque-regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/basis-grotesque-regular.woff') format('woff'),
	url('../fonts/basis-grotesque-regular.ttf')  format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'basis-grotesque-mono-custom';
	src: url('../fonts/basis-grotesque-mono.eot?#iefix') format('embedded-opentype'),
	url('../fonts/basis-grotesque-mono.woff') format('woff'),
	url('../fonts/basis-grotesque-mono.ttf')  format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'basis-grotesque-bold-custom';
	src: url('../fonts/basis-grotesque-bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/basis-grotesque-bold.woff') format('woff'),
	url('../fonts/basis-grotesque-bold.ttf')  format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Coign';
	src: url('../fonts/coign-variable-ghost.ttf') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Google Sans Text';
	src: url('../fonts/google-sans-text-beta-gx.ttf') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Google Sans';
	font-style: normal;
	font-weight: 400;
	src: url('https://fonts.gstatic.com/s/googlesans/v6/4UaGrENHsxJlGDuGo1OIlL3Owp5eKQtG.woff2') format('woff2');
}

@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
