<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>com.typemytype.robofont.guides</key>
  <array>
    <dict>
      <key>angle</key>
      <real>0</real>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>0</real>
      <key>y</key>
      <real>682</real>
    </dict>
    <dict>
      <key>angle</key>
      <real>0</real>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>0</real>
      <key>y</key>
      <real>34</real>
    </dict>
    <dict>
      <key>angle</key>
      <real>0</real>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>0</real>
      <key>y</key>
      <real>698</real>
    </dict>
    <dict>
      <key>angle</key>
      <real>0</real>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>0</real>
      <key>y</key>
      <real>18</real>
    </dict>
    <dict>
      <key>angle</key>
      <real>0</real>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>0</real>
      <key>y</key>
      <real>474</real>
    </dict>
  </array>
  <key>public.glyphOrder</key>
  <array>
    <string>.notdef</string>
    <string>G</string>
    <string>H</string>
    <string>I</string>
    <string>L</string>
    <string>O</string>
    <string>N</string>
    <string>A</string>
    <string>F</string>
    <string>M</string>
    <string>S</string>
    <string>i</string>
    <string>o</string>
    <string>n</string>
    <string>l</string>
    <string>s</string>
    <string>h</string>
    <string>m</string>
    <string>a</string>
    <string>e</string>
    <string>f</string>
    <string>g</string>
    <string>T</string>
    <string>D</string>
    <string>B</string>
    <string>C</string>
    <string>J</string>
    <string>K</string>
    <string>P</string>
    <string>R</string>
    <string>U</string>
    <string>V</string>
    <string>W</string>
    <string>X</string>
    <string>Y</string>
    <string>Z</string>
    <string>Q</string>
    <string>E</string>
    <string>space</string>
    <string>b</string>
    <string>d</string>
    <string>p</string>
    <string>q</string>
    <string>c</string>
    <string>k</string>
    <string>j</string>
    <string>r</string>
    <string>u</string>
    <string>t</string>
    <string>v</string>
    <string>w</string>
    <string>x</string>
    <string>y</string>
    <string>z</string>
    <string>period</string>
    <string>zero</string>
    <string>one</string>
    <string>two</string>
    <string>three</string>
    <string>hyphen</string>
    <string>four</string>
    <string>five</string>
    <string>six</string>
    <string>seven</string>
    <string>eight</string>
    <string>nine</string>
    <string>colon</string>
    <string>comma</string>
    <string>acute</string>
    <string>grave</string>
    <string>circumflex</string>
    <string>caron</string>
    <string>dieresis</string>
    <string>tilde</string>
    <string>macron</string>
    <string>dotaccent</string>
    <string>breve</string>
    <string>ring</string>
    <string>cedilla</string>
    <string>hungarumlaut</string>
    <string>ogonek</string>
    <string>exclam</string>
    <string>quotesingle</string>
    <string>quotedbl</string>
    <string>endash</string>
    <string>emdash</string>
    <string>parenleft</string>
    <string>parenright</string>
    <string>underscore</string>
    <string>bar</string>
    <string>brokenbar</string>
    <string>minus</string>
    <string>CR</string>
    <string>dollar</string>
    <string>ampersand</string>
    <string>at</string>
    <string>bullet</string>
    <string>dotlessi</string>
    <string>asciicircum</string>
    <string>slash</string>
    <string>backslash</string>
    <string>Thorn</string>
    <string>thorn</string>
    <string>numbersign</string>
    <string>germandbls</string>
    <string>ellipsis</string>
    <string>dagger</string>
    <string>daggerdbl</string>
    <string>semicolon</string>
    <string>less</string>
    <string>greater</string>
    <string>equal</string>
    <string>plus</string>
    <string>bracketleft</string>
    <string>bracketright</string>
    <string>question</string>
    <string>quotedblleft</string>
    <string>quotedblright</string>
    <string>quoteleft</string>
    <string>quoteright</string>
    <string>percent</string>
    <string>multiply</string>
    <string>asterisk</string>
    <string>Eth</string>
    <string>eth</string>
    <string>Lslash</string>
    <string>lslash</string>
    <string>braceleft</string>
    <string>braceright</string>
    <string>asciitilde</string>
    <string>degree</string>
    <string>cent</string>
    <string>sterling</string>
    <string>section</string>
    <string>paragraph</string>
    <string>registered</string>
    <string>copyright</string>
    <string>trademark</string>
    <string>notequal</string>
    <string>AE</string>
    <string>Oslash</string>
    <string>plusminus</string>
    <string>lessequal</string>
    <string>greaterequal</string>
    <string>yen</string>
    <string>partialdiff</string>
    <string>product</string>
    <string>summation</string>
    <string>pi</string>
    <string>NULL</string>
    <string>uni0002</string>
    <string>uni0009</string>
    <string>uni000A</string>
    <string>integral</string>
    <string>ordfeminine</string>
    <string>ordmasculine</string>
    <string>ae</string>
    <string>oslash</string>
    <string>logicalnot</string>
    <string>radical</string>
    <string>approxequal</string>
    <string>OE</string>
    <string>oe</string>
    <string>divide</string>
    <string>lozenge</string>
    <string>fraction</string>
    <string>Euro</string>
    <string>guilsinglleft</string>
    <string>guilsinglright</string>
    <string>guillemotleft</string>
    <string>guillemotright</string>
    <string>periodcentered</string>
    <string>quotesinglbase</string>
    <string>quotedblbase</string>
    <string>perthousand</string>
    <string>f_i</string>
    <string>f_l</string>
    <string>uni00AD</string>
    <string>apostrophe</string>
    <string>florin</string>
    <string>ring.cap</string>
    <string>grave.cap</string>
    <string>acute.cap</string>
    <string>dieresis.cap</string>
    <string>caron.cap</string>
    <string>uni0410</string>
    <string>uni0411</string>
    <string>uni0412</string>
    <string>uni0413</string>
    <string>uni0414</string>
    <string>uni0415</string>
    <string>uni0416</string>
    <string>uni0417</string>
    <string>uni0418</string>
    <string>uni0419</string>
    <string>uni041A</string>
    <string>uni041B</string>
    <string>uni041C</string>
    <string>uni041D</string>
    <string>uni041E</string>
    <string>uni041F</string>
    <string>uni0420</string>
    <string>uni0421</string>
    <string>uni0422</string>
    <string>uni0423</string>
    <string>uni0424</string>
    <string>uni0425</string>
    <string>uni0426</string>
    <string>uni0427</string>
    <string>uni0428</string>
    <string>uni0429</string>
    <string>uni042A</string>
    <string>uni042B</string>
    <string>uni042C</string>
    <string>uni042D</string>
    <string>uni042E</string>
    <string>uni042F</string>
    <string>uni0430</string>
    <string>uni0431</string>
    <string>uni0432</string>
    <string>uni0433</string>
    <string>uni0434</string>
    <string>uni0435</string>
    <string>uni0436</string>
    <string>uni0437</string>
    <string>uni0438</string>
    <string>uni0439</string>
    <string>uni043A</string>
    <string>uni043B</string>
    <string>uni043C</string>
    <string>uni043D</string>
    <string>uni043E</string>
    <string>uni043F</string>
    <string>uni0440</string>
    <string>uni0441</string>
    <string>uni0442</string>
    <string>uni0443</string>
    <string>uni0444</string>
    <string>uni0445</string>
    <string>uni0446</string>
    <string>uni0447</string>
    <string>uni0448</string>
    <string>uni0449</string>
    <string>uni044A</string>
    <string>uni044B</string>
    <string>uni044C</string>
    <string>uni044D</string>
    <string>uni044E</string>
    <string>uni044F</string>
    <string>uni0402</string>
    <string>uni0403</string>
    <string>uni0404</string>
    <string>uni0405</string>
    <string>uni0406</string>
    <string>uni0407</string>
    <string>uni0408</string>
    <string>uni0409</string>
    <string>uni040A</string>
    <string>uni040B</string>
    <string>uni040E</string>
    <string>uni040F</string>
    <string>uni0452</string>
    <string>uni0453</string>
    <string>uni0454</string>
    <string>uni0455</string>
    <string>uni0456</string>
    <string>uni0458</string>
    <string>uni0459</string>
    <string>uni045A</string>
    <string>uni045B</string>
    <string>uni045F</string>
    <string>Alpha</string>
    <string>Beta</string>
    <string>Gamma</string>
    <string>uni0394</string>
    <string>Epsilon</string>
    <string>Zeta</string>
    <string>Eta</string>
    <string>Theta</string>
    <string>Iota</string>
    <string>Lambda</string>
    <string>Mu</string>
    <string>Nu</string>
    <string>Xi</string>
    <string>Omicron</string>
    <string>Pi</string>
    <string>Rho</string>
    <string>Sigma</string>
    <string>Tau</string>
    <string>Upsilon</string>
    <string>Phi</string>
    <string>Chi</string>
    <string>Psi</string>
    <string>uni03A9</string>
    <string>beta</string>
    <string>gamma</string>
    <string>delta</string>
    <string>epsilon</string>
    <string>zeta</string>
    <string>eta</string>
    <string>theta</string>
    <string>iota</string>
    <string>kappa</string>
    <string>lambda</string>
    <string>uni03BC</string>
    <string>nu</string>
    <string>xi</string>
    <string>omicron</string>
    <string>rho</string>
    <string>sigma1</string>
    <string>sigma</string>
    <string>tau</string>
    <string>upsilon</string>
    <string>phi</string>
    <string>chi</string>
    <string>psi</string>
    <string>omega</string>
    <string>breve.cap</string>
    <string>Adieresis</string>
    <string>Aring</string>
    <string>Ccedilla</string>
    <string>Eacute</string>
    <string>Ntilde</string>
    <string>Odieresis</string>
    <string>Udieresis</string>
    <string>aacute</string>
    <string>agrave</string>
    <string>acircumflex</string>
    <string>adieresis</string>
    <string>atilde</string>
    <string>aring</string>
    <string>ccedilla</string>
    <string>eacute</string>
    <string>egrave</string>
    <string>ecircumflex</string>
    <string>edieresis</string>
    <string>iacute</string>
    <string>igrave</string>
    <string>icircumflex</string>
    <string>idieresis</string>
    <string>ntilde</string>
    <string>oacute</string>
    <string>ograve</string>
    <string>ocircumflex</string>
    <string>odieresis</string>
    <string>otilde</string>
    <string>uacute</string>
    <string>ugrave</string>
    <string>ucircumflex</string>
    <string>udieresis</string>
    <string>Acircumflex</string>
    <string>Ecircumflex</string>
    <string>Aacute</string>
    <string>Edieresis</string>
    <string>Egrave</string>
    <string>Iacute</string>
    <string>Icircumflex</string>
    <string>Idieresis</string>
    <string>Igrave</string>
    <string>Oacute</string>
    <string>Ocircumflex</string>
    <string>Ograve</string>
    <string>Uacute</string>
    <string>Ucircumflex</string>
    <string>Ugrave</string>
    <string>Aogonek</string>
    <string>Lcaron</string>
    <string>Sacute</string>
    <string>Scedilla</string>
    <string>Tcaron</string>
    <string>Zacute</string>
    <string>Zdotaccent</string>
    <string>aogonek</string>
    <string>lcaron</string>
    <string>sacute</string>
    <string>scedilla</string>
    <string>tcaron</string>
    <string>zacute</string>
    <string>zdotaccent</string>
    <string>Racute</string>
    <string>Abreve</string>
    <string>Lacute</string>
    <string>Cacute</string>
    <string>Ccaron</string>
    <string>Eogonek</string>
    <string>Ecaron</string>
    <string>Dcaron</string>
    <string>Dcroat</string>
    <string>Nacute</string>
    <string>Ncaron</string>
    <string>Ohungarumlaut</string>
    <string>Rcaron</string>
    <string>Uring</string>
    <string>Uhungarumlaut</string>
    <string>uni0162</string>
    <string>racute</string>
    <string>abreve</string>
    <string>dotaccent.cap</string>
    <string>lacute</string>
    <string>cacute</string>
    <string>ccaron</string>
    <string>eogonek</string>
    <string>ecaron</string>
    <string>dcaron</string>
    <string>dcroat</string>
    <string>nacute</string>
    <string>ncaron</string>
    <string>ohungarumlaut</string>
    <string>rcaron</string>
    <string>uring</string>
    <string>uhungarumlaut</string>
    <string>uni0163</string>
    <string>Hbar</string>
    <string>Hcircumflex</string>
    <string>Idotaccent</string>
    <string>Gbreve</string>
    <string>Jcircumflex</string>
    <string>hbar</string>
    <string>hcircumflex</string>
    <string>gbreve</string>
    <string>jcircumflex</string>
    <string>Cdotaccent</string>
    <string>Ccircumflex</string>
    <string>Gdotaccent</string>
    <string>Gcircumflex</string>
    <string>Ubreve</string>
    <string>Scircumflex</string>
    <string>cdotaccent</string>
    <string>ccircumflex</string>
    <string>gdotaccent</string>
    <string>Agrave</string>
    <string>Atilde</string>
    <string>Otilde</string>
    <string>ydieresis</string>
    <string>Ydieresis</string>
    <string>a.alt</string>
    <string>k.alt</string>
    <string>G.alt</string>
    <string>K.alt</string>
    <string>M.alt</string>
    <string>at.cap</string>
    <string>tilde.cap</string>
    <string>Kappa</string>
    <string>uni0451</string>
    <string>Scaron</string>
    <string>scaron</string>
    <string>Yacute</string>
    <string>yacute</string>
    <string>Zcaron</string>
    <string>zcaron</string>
    <string>mu</string>
    <string>questiondown</string>
    <string>exclamdown</string>
    <string>Delta</string>
    <string>gcircumflex</string>
    <string>ubreve</string>
    <string>scircumflex</string>
    <string>uni0401</string>
    <string>uni040C</string>
    <string>Emacron</string>
    <string>uni0122</string>
    <string>Imacron</string>
    <string>Itilde</string>
    <string>uni0136</string>
    <string>uni013B</string>
    <string>commaaccent</string>
    <string>macron.cap</string>
    <string>Tbar</string>
    <string>Umacron</string>
    <string>Eng</string>
    <string>emacron</string>
    <string>uni0123</string>
    <string>imacron</string>
    <string>itilde</string>
    <string>uni0137</string>
    <string>uni013C</string>
    <string>tbar</string>
    <string>uni2015</string>
    <string>umacron</string>
    <string>eng</string>
    <string>Amacron</string>
    <string>Iogonek</string>
    <string>Edotaccent</string>
    <string>uni0145</string>
    <string>Omacron</string>
    <string>Utilde</string>
    <string>Uogonek</string>
    <string>amacron</string>
    <string>iogonek</string>
    <string>edotaccent</string>
    <string>uni0146</string>
    <string>omacron</string>
    <string>utilde</string>
    <string>uogonek</string>
    <string>kgreenlandic</string>
    <string>uni0156</string>
    <string>uni0157</string>
    <string>uni0218</string>
    <string>uni0219</string>
    <string>uni021A</string>
    <string>uni021B</string>
    <string>tonos</string>
    <string>dieresistonos</string>
    <string>Alphatonos</string>
    <string>Epsilontonos</string>
    <string>Etatonos</string>
    <string>Iotatonos</string>
    <string>Omicrontonos</string>
    <string>Upsilontonos</string>
    <string>Omegatonos</string>
    <string>iotadieresistonos</string>
    <string>alpha</string>
    <string>Iotadieresis</string>
    <string>Upsilondieresis</string>
    <string>alphatonos</string>
    <string>epsilontonos</string>
    <string>etatonos</string>
    <string>iotatonos</string>
    <string>upsilondieresistonos</string>
    <string>iotadieresis</string>
    <string>upsilondieresis</string>
    <string>omicrontonos</string>
    <string>upsilontonos</string>
    <string>omegatonos</string>
    <string>uni040D</string>
    <string>circumflex.cap</string>
    <string>zero.tf</string>
    <string>two.tf</string>
    <string>three.tf</string>
    <string>four.tf</string>
    <string>five.tf</string>
    <string>six.tf</string>
    <string>seven.tf</string>
    <string>eight.tf</string>
    <string>nine.tf</string>
    <string>one.tf</string>
    <string>one.alt</string>
    <string>zero.alt</string>
    <string>I.alt</string>
    <string>space.tf</string>
    <string>numbersign.tf</string>
    <string>dollar.tf</string>
    <string>f_f</string>
    <string>f_f_l</string>
    <string>f_f_i</string>
    <string>f_t</string>
    <string>f_f_t</string>
    <string>seven.alt</string>
    <string>six.alt</string>
    <string>nine.alt</string>
    <string>r.alt</string>
    <string>Ebreve</string>
    <string>Ibreve</string>
    <string>Ldot</string>
    <string>Obreve</string>
    <string>Oslashacute</string>
    <string>Wacute</string>
    <string>Wcircumflex</string>
    <string>Wdieresis</string>
    <string>Wgrave</string>
    <string>Ycircumflex</string>
    <string>Ygrave</string>
    <string>aringacute</string>
    <string>aeacute</string>
    <string>ebreve</string>
    <string>ibreve</string>
    <string>dotlessj</string>
    <string>obreve</string>
    <string>oslashacute</string>
    <string>schwa</string>
    <string>r_f_f</string>
    <string>wacute</string>
    <string>wcircumflex</string>
    <string>wdieresis</string>
    <string>wgrave</string>
    <string>ycircumflex</string>
    <string>ygrave</string>
    <string>Imacron.alt</string>
    <string>kcommaaccent.alt</string>
    <string>Iacute.alt</string>
    <string>Ibreve.alt</string>
    <string>Icircumflex.alt</string>
    <string>Idieresis.alt</string>
    <string>Idotaccent.alt</string>
    <string>Igrave.alt</string>
    <string>Iogonek.alt</string>
    <string>Itilde.alt</string>
    <string>Gbreve.alt</string>
    <string>Gcircumflex.alt</string>
    <string>Gcommaaccent.alt</string>
    <string>Gdotaccent.alt</string>
    <string>Kcommaaccent.alt</string>
    <string>abreve.alt</string>
    <string>acircumflex.alt</string>
    <string>adieresis.alt</string>
    <string>agrave.alt</string>
    <string>amacron.alt</string>
    <string>aogonek.alt</string>
    <string>aring.alt</string>
    <string>aringacute.alt</string>
    <string>ae.alt</string>
    <string>aeacute.alt</string>
    <string>cedilla.alt</string>
    <string>racute.alt</string>
    <string>rcaron.alt</string>
    <string>rcommaaccent.alt</string>
    <string>Ccedilla.alt</string>
    <string>ccedilla.alt</string>
    <string>hungarumlaut.cap</string>
    <string>scedilla.alt</string>
    <string>Scedilla.alt</string>
    <string>Aringacute</string>
    <string>aacute.alt</string>
    <string>atilde.alt</string>
    <string>bracketleft.cap</string>
    <string>bracketright.cap</string>
    <string>dieresistonos.alt</string>
    <string>iotadieresistonos.alt</string>
    <string>upsilondieresistonos.alt</string>
    <string>J.alt</string>
    <string>Jcircumflex.alt</string>
    <string>Q.alt</string>
    <string>R.alt</string>
    <string>q.alt</string>
    <string>y.alt</string>
    <string>yacute.alt</string>
    <string>ycircumflex.alt</string>
    <string>ydieresis.alt</string>
    <string>ygrave.alt</string>
    <string>Racute.alt</string>
    <string>Rcaron.alt</string>
    <string>Rcommaaccent.alt</string>
    <string>parenleft.cap</string>
    <string>parenright.cap</string>
    <string>braceleft.cap</string>
    <string>braceright.cap</string>
    <string>caron.alt</string>
    <string>W.alt</string>
    <string>Wacute.alt</string>
    <string>Wcircumflex.alt</string>
    <string>Wdieresis.alt</string>
    <string>Wgrave.alt</string>
    <string>zero.cap</string>
    <string>one.cap</string>
    <string>two.cap</string>
    <string>three.cap</string>
    <string>four.cap</string>
    <string>five.cap</string>
    <string>six.cap</string>
    <string>seven.cap</string>
    <string>eight.cap</string>
    <string>nine.cap</string>
    <string>j.alt</string>
    <string>currency</string>
    <string>t_t</string>
    <string>r_f</string>
    <string>r_t</string>
    <string>one.numerator</string>
    <string>two.numerator</string>
    <string>three.numerator</string>
    <string>four.numerator</string>
    <string>five.numerator</string>
    <string>six.numerator</string>
    <string>seven.numerator</string>
    <string>eight.numerator</string>
    <string>nine.numerator</string>
    <string>zero.numerator</string>
    <string>uni0457</string>
    <string>uni045C</string>
    <string>uni045E</string>
    <string>cyrillictic</string>
    <string>t_f</string>
    <string>t_f.alt</string>
    <string>f_f_j</string>
    <string>f_j.alt</string>
    <string>f_f_j.alt</string>
    <string>f_b</string>
    <string>f_f_b</string>
    <string>f_h</string>
    <string>f_f_h</string>
    <string>f_k</string>
    <string>f_f_k</string>
    <string>f_k.alt</string>
    <string>f_f_k.alt</string>
    <string>t.alt</string>
    <string>tbar.alt</string>
    <string>tcaron.alt</string>
    <string>tcommaaccent.alt</string>
    <string>f_t.alt</string>
    <string>f_f_t.alt</string>
    <string>r_t.alt</string>
    <string>t_t.alt</string>
    <string>f_j</string>
    <string>AEacute</string>
    <string>ampersand.alt</string>
  </array>
</dict>
</plist>
