<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>B</key>
    <string>B_.glif</string>
    <key>Ge-cy</key>
    <string>G_e-cy.glif</string>
    <key>Imacron</key>
    <string>I_macron.glif</string>
    <key>Iu-cy</key>
    <string>I_u-cy.glif</string>
    <key>Lslash</key>
    <string>L_slash.glif</string>
    <key>Q.alt</key>
    <string>Q_.alt.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>Thorn</key>
    <string>T_horn.glif</string>
    <key>Uogonek</key>
    <string>U_ogonek.glif</string>
    <key>circumflexcomb</key>
    <string>circumflexcomb.glif</string>
    <key>copyright.alt</key>
    <string>copyright.alt.glif</string>
    <key>currency</key>
    <string>currency.glif</string>
    <key>eight.ss03</key>
    <string>eight.ss03.glif</string>
    <key>eogonek</key>
    <string>eogonek.glif</string>
    <key>five.ss03</key>
    <string>five.ss03.glif</string>
    <key>four.ss03</key>
    <string>four.ss03.glif</string>
    <key>guilsinglleft</key>
    <string>guilsinglleft.glif</string>
    <key>kappa</key>
    <string>kappa.glif</string>
    <key>macron</key>
    <string>macron.glif</string>
    <key>notequal</key>
    <string>notequal.glif</string>
    <key>numbersign</key>
    <string>numbersign.glif</string>
    <key>numbersign.cap</key>
    <string>numbersign.cap.glif</string>
    <key>one.ss03</key>
    <string>one.ss03.glif</string>
    <key>oslash</key>
    <string>oslash.glif</string>
    <key>perthousand</key>
    <string>perthousand.glif</string>
    <key>six.ss03</key>
    <string>six.ss03.glif</string>
    <key>t.alt</key>
    <string>t.alt.glif</string>
    <key>three.ss03</key>
    <string>three.ss03.glif</string>
    <key>tugrik</key>
    <string>tugrik.glif</string>
    <key>two.ss03</key>
    <string>two.ss03.glif</string>
    <key>won.tf</key>
    <string>won.tf.glif</string>
  </dict>
</plist>
