<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>public.glyphOrder</key>
  <array>
    <string>.notdef</string>
    <string>G</string>
    <string>H</string>
    <string>I</string>
    <string>L</string>
    <string>O</string>
    <string>N</string>
    <string>A</string>
    <string>F</string>
    <string>M</string>
    <string>S</string>
    <string>o</string>
    <string>n</string>
    <string>m</string>
    <string>i</string>
    <string>l</string>
    <string>h</string>
    <string>a</string>
    <string>e</string>
    <string>f</string>
    <string>g</string>
    <string>s</string>
    <string>T</string>
    <string>B</string>
    <string>C</string>
    <string>D</string>
    <string>J</string>
    <string>K</string>
    <string>P</string>
    <string>R</string>
    <string>U</string>
    <string>V</string>
    <string>W</string>
    <string>X</string>
    <string>Y</string>
    <string>Z</string>
    <string>Q</string>
    <string>E</string>
    <string>space</string>
    <string>b</string>
    <string>d</string>
    <string>p</string>
    <string>q</string>
    <string>u</string>
    <string>c</string>
    <string>j</string>
    <string>k</string>
    <string>r</string>
    <string>t</string>
    <string>v</string>
    <string>w</string>
    <string>x</string>
    <string>y</string>
    <string>z</string>
    <string>period</string>
    <string>hyphen</string>
    <string>zero</string>
    <string>one</string>
    <string>two</string>
    <string>three</string>
    <string>B.alt</string>
    <string>four</string>
    <string>five</string>
    <string>six</string>
    <string>seven</string>
    <string>eight</string>
    <string>nine</string>
    <string>colon</string>
    <string>endash</string>
    <string>emdash</string>
    <string>exclam</string>
    <string>CR</string>
    <string>underscore</string>
    <string>grave</string>
    <string>comma</string>
    <string>acute</string>
    <string>dieresis</string>
    <string>circumflex</string>
    <string>caron</string>
    <string>semicolon</string>
    <string>ampersand</string>
    <string>quotesingle</string>
    <string>parenleft</string>
    <string>parenright</string>
    <string>bracketleft</string>
    <string>bracketright</string>
    <string>quotedbl</string>
    <string>tilde</string>
    <string>macron</string>
    <string>dotaccent</string>
    <string>breve</string>
    <string>cedilla</string>
    <string>ring</string>
    <string>equal</string>
    <string>ogonek</string>
    <string>hungarumlaut</string>
    <string>asciicircum</string>
    <string>less</string>
    <string>greater</string>
    <string>slash</string>
    <string>backslash</string>
    <string>guilsinglleft</string>
    <string>guilsinglright</string>
    <string>asciitilde</string>
    <string>braceleft</string>
    <string>braceright</string>
    <string>question</string>
    <string>at</string>
    <string>numbersign</string>
    <string>n.alt</string>
    <string>b.alt</string>
    <string>percent</string>
  </array>
</dict>
</plist>
