<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>.notdef</key>
  <string>__notdef.glif</string>
  <key>G</key>
  <string>G_.glif</string>
  <key>H</key>
  <string>H_.glif</string>
  <key>I</key>
  <string>I_.glif</string>
  <key>L</key>
  <string>L_.glif</string>
  <key>O</key>
  <string>O_.glif</string>
  <key>N</key>
  <string>N_.glif</string>
  <key>A</key>
  <string>A_.glif</string>
  <key>F</key>
  <string>F_.glif</string>
  <key>M</key>
  <string>M_.glif</string>
  <key>S</key>
  <string>S_.glif</string>
  <key>o</key>
  <string>o.glif</string>
  <key>n</key>
  <string>n.glif</string>
  <key>m</key>
  <string>m.glif</string>
  <key>i</key>
  <string>i.glif</string>
  <key>l</key>
  <string>l.glif</string>
  <key>h</key>
  <string>h.glif</string>
  <key>a</key>
  <string>a.glif</string>
  <key>e</key>
  <string>e.glif</string>
  <key>f</key>
  <string>f.glif</string>
  <key>g</key>
  <string>g.glif</string>
  <key>s</key>
  <string>s.glif</string>
  <key>T</key>
  <string>T_.glif</string>
  <key>B</key>
  <string>B_.glif</string>
  <key>C</key>
  <string>C_.glif</string>
  <key>D</key>
  <string>D_.glif</string>
  <key>J</key>
  <string>J_.glif</string>
  <key>K</key>
  <string>K_.glif</string>
  <key>P</key>
  <string>P_.glif</string>
  <key>R</key>
  <string>R_.glif</string>
  <key>U</key>
  <string>U_.glif</string>
  <key>V</key>
  <string>V_.glif</string>
  <key>W</key>
  <string>W_.glif</string>
  <key>X</key>
  <string>X_.glif</string>
  <key>Y</key>
  <string>Y_.glif</string>
  <key>Z</key>
  <string>Z_.glif</string>
  <key>Q</key>
  <string>Q_.glif</string>
  <key>E</key>
  <string>E_.glif</string>
  <key>space</key>
  <string>space.glif</string>
  <key>b</key>
  <string>b.glif</string>
  <key>d</key>
  <string>d.glif</string>
  <key>p</key>
  <string>p.glif</string>
  <key>q</key>
  <string>q.glif</string>
  <key>u</key>
  <string>u.glif</string>
  <key>c</key>
  <string>c.glif</string>
  <key>j</key>
  <string>j.glif</string>
  <key>k</key>
  <string>k.glif</string>
  <key>r</key>
  <string>r.glif</string>
  <key>t</key>
  <string>t.glif</string>
  <key>v</key>
  <string>v.glif</string>
  <key>w</key>
  <string>w.glif</string>
  <key>x</key>
  <string>x.glif</string>
  <key>y</key>
  <string>y.glif</string>
  <key>z</key>
  <string>z.glif</string>
  <key>period</key>
  <string>period.glif</string>
  <key>hyphen</key>
  <string>hyphen.glif</string>
  <key>zero</key>
  <string>zero.glif</string>
  <key>one</key>
  <string>one.glif</string>
  <key>two</key>
  <string>two.glif</string>
  <key>three</key>
  <string>three.glif</string>
  <key>four</key>
  <string>four.glif</string>
  <key>five</key>
  <string>five.glif</string>
  <key>six</key>
  <string>six.glif</string>
  <key>seven</key>
  <string>seven.glif</string>
  <key>eight</key>
  <string>eight.glif</string>
  <key>nine</key>
  <string>nine.glif</string>
  <key>colon</key>
  <string>colon.glif</string>
  <key>endash</key>
  <string>endash.glif</string>
  <key>emdash</key>
  <string>emdash.glif</string>
  <key>exclam</key>
  <string>exclam.glif</string>
  <key>CR</key>
  <string>CR__.glif</string>
  <key>underscore</key>
  <string>underscore.glif</string>
  <key>grave</key>
  <string>grave.glif</string>
  <key>comma</key>
  <string>comma.glif</string>
  <key>acute</key>
  <string>acute.glif</string>
  <key>dieresis</key>
  <string>dieresis.glif</string>
  <key>circumflex</key>
  <string>circumflex.glif</string>
  <key>caron</key>
  <string>caron.glif</string>
  <key>semicolon</key>
  <string>semicolon.glif</string>
  <key>ampersand</key>
  <string>ampersand.glif</string>
  <key>quotesingle</key>
  <string>quotesingle.glif</string>
  <key>parenleft</key>
  <string>parenleft.glif</string>
  <key>parenright</key>
  <string>parenright.glif</string>
  <key>bracketleft</key>
  <string>bracketleft.glif</string>
  <key>bracketright</key>
  <string>bracketright.glif</string>
  <key>quotedbl</key>
  <string>quotedbl.glif</string>
  <key>tilde</key>
  <string>tilde.glif</string>
  <key>macron</key>
  <string>macron.glif</string>
  <key>dotaccent</key>
  <string>dotaccent.glif</string>
  <key>breve</key>
  <string>breve.glif</string>
  <key>cedilla</key>
  <string>cedilla.glif</string>
  <key>ring</key>
  <string>ring.glif</string>
  <key>equal</key>
  <string>equal.glif</string>
  <key>ogonek</key>
  <string>ogonek.glif</string>
  <key>hungarumlaut</key>
  <string>hungarumlaut.glif</string>
  <key>asciicircum</key>
  <string>asciicircum.glif</string>
  <key>less</key>
  <string>less.glif</string>
  <key>greater</key>
  <string>greater.glif</string>
  <key>slash</key>
  <string>slash.glif</string>
  <key>backslash</key>
  <string>backslash.glif</string>
  <key>guilsinglleft</key>
  <string>guilsinglleft.glif</string>
  <key>guilsinglright</key>
  <string>guilsinglright.glif</string>
  <key>asciitilde</key>
  <string>asciitilde.glif</string>
  <key>braceleft</key>
  <string>braceleft.glif</string>
  <key>braceright</key>
  <string>braceright.glif</string>
  <key>question</key>
  <string>question.glif</string>
  <key>at</key>
  <string>at.glif</string>
  <key>numbersign</key>
  <string>numbersign.glif</string>
  <key>percent</key>
  <string>percent.glif</string>
  <key>Thorn</key>
  <string>Thorn_.glif</string>
  <key>thorn</key>
  <string>thorn.glif</string>
  <key>uni0410</key>
  <string>uni0410.glif</string>
  <key>uni0411</key>
  <string>uni0411.glif</string>
  <key>uni0412</key>
  <string>uni0412.glif</string>
  <key>uni0413</key>
  <string>uni0413.glif</string>
  <key>uni0414</key>
  <string>uni0414.glif</string>
  <key>uni0415</key>
  <string>uni0415.glif</string>
  <key>uni0416</key>
  <string>uni0416.glif</string>
  <key>uni0417</key>
  <string>uni0417.glif</string>
  <key>uni0418</key>
  <string>uni0418.glif</string>
  <key>uni0419</key>
  <string>uni0419.glif</string>
  <key>uni041A</key>
  <string>uni041A_.glif</string>
  <key>uni041B</key>
  <string>uni041B_.glif</string>
  <key>uni041C</key>
  <string>uni041C_.glif</string>
  <key>uni041D</key>
  <string>uni041D_.glif</string>
  <key>uni041E</key>
  <string>uni041E_.glif</string>
  <key>uni041F</key>
  <string>uni041F_.glif</string>
  <key>uni0420</key>
  <string>uni0420.glif</string>
  <key>uni0421</key>
  <string>uni0421.glif</string>
  <key>uni0422</key>
  <string>uni0422.glif</string>
  <key>uni0423</key>
  <string>uni0423.glif</string>
  <key>uni0424</key>
  <string>uni0424.glif</string>
  <key>uni0425</key>
  <string>uni0425.glif</string>
  <key>uni0426</key>
  <string>uni0426.glif</string>
  <key>uni0427</key>
  <string>uni0427.glif</string>
  <key>uni0428</key>
  <string>uni0428.glif</string>
  <key>uni0429</key>
  <string>uni0429.glif</string>
  <key>uni042A</key>
  <string>uni042A_.glif</string>
  <key>uni042B</key>
  <string>uni042B_.glif</string>
  <key>uni042C</key>
  <string>uni042C_.glif</string>
  <key>uni042D</key>
  <string>uni042D_.glif</string>
  <key>uni042E</key>
  <string>uni042E_.glif</string>
  <key>uni042F</key>
  <string>uni042F_.glif</string>
  <key>uni0430</key>
  <string>uni0430.glif</string>
  <key>uni0431</key>
  <string>uni0431.glif</string>
  <key>uni0432</key>
  <string>uni0432.glif</string>
  <key>uni0433</key>
  <string>uni0433.glif</string>
  <key>uni0434</key>
  <string>uni0434.glif</string>
  <key>uni0435</key>
  <string>uni0435.glif</string>
  <key>uni0436</key>
  <string>uni0436.glif</string>
  <key>uni0437</key>
  <string>uni0437.glif</string>
  <key>uni0438</key>
  <string>uni0438.glif</string>
  <key>uni0439</key>
  <string>uni0439.glif</string>
  <key>uni043A</key>
  <string>uni043A_.glif</string>
  <key>uni043B</key>
  <string>uni043B_.glif</string>
  <key>uni043C</key>
  <string>uni043C_.glif</string>
  <key>uni043D</key>
  <string>uni043D_.glif</string>
  <key>uni043E</key>
  <string>uni043E_.glif</string>
  <key>uni043F</key>
  <string>uni043F_.glif</string>
  <key>uni0440</key>
  <string>uni0440.glif</string>
  <key>uni0441</key>
  <string>uni0441.glif</string>
  <key>uni0442</key>
  <string>uni0442.glif</string>
  <key>uni0443</key>
  <string>uni0443.glif</string>
  <key>uni0444</key>
  <string>uni0444.glif</string>
  <key>uni0445</key>
  <string>uni0445.glif</string>
  <key>uni0446</key>
  <string>uni0446.glif</string>
  <key>uni0447</key>
  <string>uni0447.glif</string>
  <key>uni0448</key>
  <string>uni0448.glif</string>
  <key>uni0449</key>
  <string>uni0449.glif</string>
  <key>uni044A</key>
  <string>uni044A_.glif</string>
  <key>uni044B</key>
  <string>uni044B_.glif</string>
  <key>dotlessi</key>
  <string>dotlessi.glif</string>
  <key>uni044C</key>
  <string>uni044C_.glif</string>
  <key>uni044D</key>
  <string>uni044D_.glif</string>
  <key>uni044E</key>
  <string>uni044E_.glif</string>
  <key>uni044F</key>
  <string>uni044F_.glif</string>
  <key>uni0451</key>
  <string>uni0451.glif</string>
  <key>uni0452</key>
  <string>uni0452.glif</string>
  <key>uni0453</key>
  <string>uni0453.glif</string>
  <key>uni0454</key>
  <string>uni0454.glif</string>
  <key>uni0455</key>
  <string>uni0455.glif</string>
  <key>uni0456</key>
  <string>uni0456.glif</string>
  <key>uni0457</key>
  <string>uni0457.glif</string>
  <key>uni0458</key>
  <string>uni0458.glif</string>
  <key>uni0459</key>
  <string>uni0459.glif</string>
  <key>uni045A</key>
  <string>uni045A_.glif</string>
  <key>uni045B</key>
  <string>uni045B_.glif</string>
  <key>uni045C</key>
  <string>uni045C_.glif</string>
  <key>uni045E</key>
  <string>uni045E_.glif</string>
  <key>uni045F</key>
  <string>uni045F_.glif</string>
  <key>uni0402</key>
  <string>uni0402.glif</string>
  <key>uni0403</key>
  <string>uni0403.glif</string>
  <key>uni0404</key>
  <string>uni0404.glif</string>
  <key>uni0405</key>
  <string>uni0405.glif</string>
  <key>uni0406</key>
  <string>uni0406.glif</string>
  <key>uni0407</key>
  <string>uni0407.glif</string>
  <key>uni0408</key>
  <string>uni0408.glif</string>
  <key>uni0409</key>
  <string>uni0409.glif</string>
  <key>uni040A</key>
  <string>uni040A_.glif</string>
  <key>uni040B</key>
  <string>uni040B_.glif</string>
  <key>uni040E</key>
  <string>uni040E_.glif</string>
  <key>uni040F</key>
  <string>uni040F_.glif</string>
  <key>K.alt</key>
  <string>K_.alt.glif</string>
  <key>uni040C</key>
  <string>uni040C_.glif</string>
  <key>Alpha</key>
  <string>Alpha_.glif</string>
  <key>Beta</key>
  <string>Beta_.glif</string>
  <key>Gamma</key>
  <string>Gamma_.glif</string>
  <key>uni0394</key>
  <string>uni0394.glif</string>
  <key>Epsilon</key>
  <string>Epsilon_.glif</string>
  <key>Zeta</key>
  <string>Zeta_.glif</string>
  <key>Eta</key>
  <string>Eta_.glif</string>
  <key>Theta</key>
  <string>Theta_.glif</string>
  <key>Iota</key>
  <string>Iota_.glif</string>
  <key>Kappa</key>
  <string>Kappa_.glif</string>
  <key>K.alt2</key>
  <string>K_.alt2.glif</string>
  <key>Lambda</key>
  <string>Lambda_.glif</string>
  <key>Mu</key>
  <string>Mu_.glif</string>
  <key>Nu</key>
  <string>Nu_.glif</string>
  <key>Xi</key>
  <string>Xi_.glif</string>
  <key>Omicron</key>
  <string>Omicron_.glif</string>
  <key>Pi</key>
  <string>Pi_.glif</string>
  <key>Rho</key>
  <string>Rho_.glif</string>
  <key>Sigma</key>
  <string>Sigma_.glif</string>
  <key>Tau</key>
  <string>Tau_.glif</string>
  <key>Upsilon</key>
  <string>Upsilon_.glif</string>
  <key>Phi</key>
  <string>Phi_.glif</string>
  <key>Chi</key>
  <string>Chi_.glif</string>
  <key>Psi</key>
  <string>Psi_.glif</string>
  <key>uni03A9</key>
  <string>uni03A9_.glif</string>
  <key>Iotadieresis</key>
  <string>Iotadieresis_.glif</string>
  <key>Upsilondieresis</key>
  <string>Upsilondieresis_.glif</string>
  <key>a.alt</key>
  <string>a.alt.glif</string>
  <key>alpha</key>
  <string>alpha.glif</string>
  <key>germandbls</key>
  <string>germandbls.glif</string>
  <key>beta</key>
  <string>beta.glif</string>
  <key>gamma</key>
  <string>gamma.glif</string>
  <key>delta</key>
  <string>delta.glif</string>
  <key>epsilon</key>
  <string>epsilon.glif</string>
  <key>zeta</key>
  <string>zeta.glif</string>
  <key>eta</key>
  <string>eta.glif</string>
  <key>theta</key>
  <string>theta.glif</string>
  <key>iota</key>
  <string>iota.glif</string>
  <key>kappa</key>
  <string>kappa.glif</string>
  <key>lambda</key>
  <string>lambda.glif</string>
  <key>uni03BC</key>
  <string>uni03BC__.glif</string>
  <key>nu</key>
  <string>nu.glif</string>
  <key>xi</key>
  <string>xi.glif</string>
  <key>omicron</key>
  <string>omicron.glif</string>
  <key>rho</key>
  <string>rho.glif</string>
  <key>sigma1</key>
  <string>sigma1.glif</string>
  <key>sigma</key>
  <string>sigma.glif</string>
  <key>tau</key>
  <string>tau.glif</string>
  <key>upsilon</key>
  <string>upsilon.glif</string>
  <key>phi</key>
  <string>phi.glif</string>
  <key>chi</key>
  <string>chi.glif</string>
  <key>psi</key>
  <string>psi.glif</string>
  <key>omega</key>
  <string>omega.glif</string>
  <key>iotadieresis</key>
  <string>iotadieresis.glif</string>
  <key>upsilondieresis</key>
  <string>upsilondieresis.glif</string>
  <key>omicrontonos</key>
  <string>omicrontonos.glif</string>
  <key>upsilontonos</key>
  <string>upsilontonos.glif</string>
  <key>omegatonos</key>
  <string>omegatonos.glif</string>
  <key>k.alt</key>
  <string>k.alt.glif</string>
  <key>M.alt</key>
  <string>M_.alt.glif</string>
  <key>G.alt</key>
  <string>G_.alt.glif</string>
  <key>seven.alt</key>
  <string>seven.alt.glif</string>
  <key>six.alt</key>
  <string>six.alt.glif</string>
  <key>nine.alt</key>
  <string>nine.alt.glif</string>
  <key>J.alt</key>
  <string>J_.alt.glif</string>
  <key>Q.alt</key>
  <string>Q_.alt.glif</string>
  <key>Q.alt2</key>
  <string>Q_.alt2.glif</string>
  <key>asterisk</key>
  <string>asterisk.glif</string>
  <key>quoteleft</key>
  <string>quoteleft.glif</string>
  <key>quoteright</key>
  <string>quoteright.glif</string>
  <key>quotedblright</key>
  <string>quotedblright.glif</string>
  <key>R.alt</key>
  <string>R_.alt.glif</string>
  <key>q.alt</key>
  <string>q.alt.glif</string>
  <key>y.alt</key>
  <string>y.alt.glif</string>
  <key>trademark</key>
  <string>trademark.glif</string>
  <key>one.alt</key>
  <string>one.alt.glif</string>
  <key>zero.alt</key>
  <string>zero.alt.glif</string>
  <key>I.alt</key>
  <string>I_.alt.glif</string>
  <key>dollar</key>
  <string>dollar.glif</string>
  <key>quotedblleft</key>
  <string>quotedblleft.glif</string>
  <key>zero.cap</key>
  <string>zero.cap.glif</string>
  <key>one.cap</key>
  <string>one.cap.glif</string>
  <key>two.cap</key>
  <string>two.cap.glif</string>
  <key>three.cap</key>
  <string>three.cap.glif</string>
  <key>four.cap</key>
  <string>four.cap.glif</string>
  <key>five.cap</key>
  <string>five.cap.glif</string>
  <key>six.cap</key>
  <string>six.cap.glif</string>
  <key>seven.cap</key>
  <string>seven.cap.glif</string>
  <key>eight.cap</key>
  <string>eight.cap.glif</string>
  <key>nine.cap</key>
  <string>nine.cap.glif</string>
  <key>AE</key>
  <string>AE__.glif</string>
  <key>OE</key>
  <string>OE__.glif</string>
  <key>oe</key>
  <string>oe.glif</string>
  <key>ae</key>
  <string>ae.glif</string>
  <key>Oslash</key>
  <string>Oslash_.glif</string>
  <key>plus</key>
  <string>plus.glif</string>
  <key>minus</key>
  <string>minus.glif</string>
  <key>yen</key>
  <string>yen.glif</string>
  <key>mu</key>
  <string>mu.glif</string>
  <key>Euro</key>
  <string>Euro_.glif</string>
  <key>ring.cap</key>
  <string>ring.cap.glif</string>
  <key>grave.cap</key>
  <string>grave.cap.glif</string>
  <key>acute.cap</key>
  <string>acute.cap.glif</string>
  <key>dieresis.cap</key>
  <string>dieresis.cap.glif</string>
  <key>apostrophe</key>
  <string>apostrophe.glif</string>
  <key>caron.cap</key>
  <string>caron.cap.glif</string>
  <key>NULL</key>
  <string>NULL____.glif</string>
  <key>uni0002</key>
  <string>uni0002.glif</string>
  <key>uni0009</key>
  <string>uni0009.glif</string>
  <key>uni000A</key>
  <string>uni000A_.glif</string>
  <key>Adieresis</key>
  <string>Adieresis_.glif</string>
  <key>Aring</key>
  <string>Aring_.glif</string>
  <key>Ccedilla</key>
  <string>Ccedilla_.glif</string>
  <key>Eacute</key>
  <string>Eacute_.glif</string>
  <key>Ntilde</key>
  <string>Ntilde_.glif</string>
  <key>Odieresis</key>
  <string>Odieresis_.glif</string>
  <key>Udieresis</key>
  <string>Udieresis_.glif</string>
  <key>aacute</key>
  <string>aacute.glif</string>
  <key>agrave</key>
  <string>agrave.glif</string>
  <key>acircumflex</key>
  <string>acircumflex.glif</string>
  <key>adieresis</key>
  <string>adieresis.glif</string>
  <key>atilde</key>
  <string>atilde.glif</string>
  <key>aring</key>
  <string>aring.glif</string>
  <key>ccedilla</key>
  <string>ccedilla.glif</string>
  <key>eacute</key>
  <string>eacute.glif</string>
  <key>egrave</key>
  <string>egrave.glif</string>
  <key>ecircumflex</key>
  <string>ecircumflex.glif</string>
  <key>edieresis</key>
  <string>edieresis.glif</string>
  <key>iacute</key>
  <string>iacute.glif</string>
  <key>igrave</key>
  <string>igrave.glif</string>
  <key>icircumflex</key>
  <string>icircumflex.glif</string>
  <key>idieresis</key>
  <string>idieresis.glif</string>
  <key>ntilde</key>
  <string>ntilde.glif</string>
  <key>oacute</key>
  <string>oacute.glif</string>
  <key>ograve</key>
  <string>ograve.glif</string>
  <key>ocircumflex</key>
  <string>ocircumflex.glif</string>
  <key>odieresis</key>
  <string>odieresis.glif</string>
  <key>otilde</key>
  <string>otilde.glif</string>
  <key>uacute</key>
  <string>uacute.glif</string>
  <key>ugrave</key>
  <string>ugrave.glif</string>
  <key>ucircumflex</key>
  <string>ucircumflex.glif</string>
  <key>udieresis</key>
  <string>udieresis.glif</string>
  <key>Agrave</key>
  <string>Agrave_.glif</string>
  <key>Atilde</key>
  <string>Atilde_.glif</string>
  <key>Otilde</key>
  <string>Otilde_.glif</string>
  <key>Acircumflex</key>
  <string>Acircumflex_.glif</string>
  <key>Ecircumflex</key>
  <string>Ecircumflex_.glif</string>
  <key>Aacute</key>
  <string>Aacute_.glif</string>
  <key>Edieresis</key>
  <string>Edieresis_.glif</string>
  <key>Egrave</key>
  <string>Egrave_.glif</string>
  <key>Iacute</key>
  <string>Iacute_.glif</string>
  <key>Icircumflex</key>
  <string>Icircumflex_.glif</string>
  <key>Idieresis</key>
  <string>Idieresis_.glif</string>
  <key>Igrave</key>
  <string>Igrave_.glif</string>
  <key>Oacute</key>
  <string>Oacute_.glif</string>
  <key>Ocircumflex</key>
  <string>Ocircumflex_.glif</string>
  <key>Ograve</key>
  <string>Ograve_.glif</string>
  <key>Uacute</key>
  <string>Uacute_.glif</string>
  <key>Ucircumflex</key>
  <string>Ucircumflex_.glif</string>
  <key>Ugrave</key>
  <string>Ugrave_.glif</string>
  <key>Aogonek</key>
  <string>Aogonek_.glif</string>
  <key>Lcaron</key>
  <string>Lcaron_.glif</string>
  <key>Sacute</key>
  <string>Sacute_.glif</string>
  <key>Scedilla</key>
  <string>Scedilla_.glif</string>
  <key>Tcaron</key>
  <string>Tcaron_.glif</string>
  <key>Zacute</key>
  <string>Zacute_.glif</string>
  <key>Zdotaccent</key>
  <string>Zdotaccent_.glif</string>
  <key>Aogonek.001</key>
  <string>Aogonek_.001.glif</string>
  <key>Lcaron.001</key>
  <string>Lcaron_.001.glif</string>
  <key>Sacute.001</key>
  <string>Sacute_.001.glif</string>
  <key>Scedilla.001</key>
  <string>Scedilla_.001.glif</string>
  <key>Tcaron.001</key>
  <string>Tcaron_.001.glif</string>
  <key>Zacute.001</key>
  <string>Zacute_.001.glif</string>
  <key>Zdotaccent.001</key>
  <string>Zdotaccent_.001.glif</string>
  <key>dotaccent.cap</key>
  <string>dotaccent.cap.glif</string>
  <key>circumflex.cap</key>
  <string>circumflex.cap.glif</string>
  <key>macron.cap</key>
  <string>macron.cap.glif</string>
  <key>aogonek</key>
  <string>aogonek.glif</string>
  <key>lcaron</key>
  <string>lcaron.glif</string>
  <key>sacute</key>
  <string>sacute.glif</string>
  <key>scedilla</key>
  <string>scedilla.glif</string>
  <key>tcaron</key>
  <string>tcaron.glif</string>
  <key>zacute</key>
  <string>zacute.glif</string>
  <key>zdotaccent</key>
  <string>zdotaccent.glif</string>
  <key>Racute</key>
  <string>Racute_.glif</string>
  <key>Abreve</key>
  <string>Abreve_.glif</string>
  <key>Lacute</key>
  <string>Lacute_.glif</string>
  <key>Cacute</key>
  <string>Cacute_.glif</string>
  <key>Ccaron</key>
  <string>Ccaron_.glif</string>
  <key>Eogonek</key>
  <string>Eogonek_.glif</string>
  <key>Ecaron</key>
  <string>Ecaron_.glif</string>
  <key>Dcaron</key>
  <string>Dcaron_.glif</string>
  <key>Dcroat</key>
  <string>Dcroat_.glif</string>
  <key>Nacute</key>
  <string>Nacute_.glif</string>
  <key>Ncaron</key>
  <string>Ncaron_.glif</string>
  <key>Ohungarumlaut</key>
  <string>Ohungarumlaut_.glif</string>
  <key>Rcaron</key>
  <string>Rcaron_.glif</string>
  <key>Uring</key>
  <string>Uring_.glif</string>
  <key>Uhungarumlaut</key>
  <string>Uhungarumlaut_.glif</string>
  <key>uni0162</key>
  <string>uni0162.glif</string>
  <key>racute</key>
  <string>racute.glif</string>
  <key>abreve</key>
  <string>abreve.glif</string>
  <key>lacute</key>
  <string>lacute.glif</string>
  <key>cacute</key>
  <string>cacute.glif</string>
  <key>ccaron</key>
  <string>ccaron.glif</string>
  <key>eogonek</key>
  <string>eogonek.glif</string>
  <key>ecaron</key>
  <string>ecaron.glif</string>
  <key>dcaron</key>
  <string>dcaron.glif</string>
  <key>dcroat</key>
  <string>dcroat.glif</string>
  <key>nacute</key>
  <string>nacute.glif</string>
  <key>ncaron</key>
  <string>ncaron.glif</string>
  <key>ohungarumlaut</key>
  <string>ohungarumlaut.glif</string>
  <key>rcaron</key>
  <string>rcaron.glif</string>
  <key>uring</key>
  <string>uring.glif</string>
  <key>uhungarumlaut</key>
  <string>uhungarumlaut.glif</string>
  <key>uni0163</key>
  <string>uni0163.glif</string>
  <key>Hbar</key>
  <string>Hbar_.glif</string>
  <key>Hcircumflex</key>
  <string>Hcircumflex_.glif</string>
  <key>Idotaccent</key>
  <string>Idotaccent_.glif</string>
  <key>Gbreve</key>
  <string>Gbreve_.glif</string>
  <key>Jcircumflex</key>
  <string>Jcircumflex_.glif</string>
  <key>hbar</key>
  <string>hbar.glif</string>
  <key>hcircumflex</key>
  <string>hcircumflex.glif</string>
  <key>gbreve</key>
  <string>gbreve.glif</string>
  <key>jcircumflex</key>
  <string>jcircumflex.glif</string>
  <key>Cdotaccent</key>
  <string>Cdotaccent_.glif</string>
  <key>Ccircumflex</key>
  <string>Ccircumflex_.glif</string>
  <key>Gdotaccent</key>
  <string>Gdotaccent_.glif</string>
  <key>Gcircumflex</key>
  <string>Gcircumflex_.glif</string>
  <key>Ubreve</key>
  <string>Ubreve_.glif</string>
  <key>Scircumflex</key>
  <string>Scircumflex_.glif</string>
  <key>cdotaccent</key>
  <string>cdotaccent.glif</string>
  <key>ccircumflex</key>
  <string>ccircumflex.glif</string>
  <key>gdotaccent</key>
  <string>gdotaccent.glif</string>
  <key>gcircumflex</key>
  <string>gcircumflex.glif</string>
  <key>ubreve</key>
  <string>ubreve.glif</string>
  <key>scircumflex</key>
  <string>scircumflex.glif</string>
  <key>uni0401</key>
  <string>uni0401.glif</string>
  <key>Emacron</key>
  <string>Emacron_.glif</string>
  <key>commaaccent</key>
  <string>commaaccent.glif</string>
  <key>uni0122</key>
  <string>uni0122.glif</string>
  <key>Imacron</key>
  <string>Imacron_.glif</string>
  <key>Itilde</key>
  <string>Itilde_.glif</string>
  <key>uni0136</key>
  <string>uni0136.glif</string>
  <key>uni013B</key>
  <string>uni013B_.glif</string>
  <key>Tbar</key>
  <string>Tbar_.glif</string>
  <key>Umacron</key>
  <string>Umacron_.glif</string>
  <key>Eng</key>
  <string>Eng_.glif</string>
  <key>emacron</key>
  <string>emacron.glif</string>
  <key>uni0123</key>
  <string>uni0123.glif</string>
  <key>imacron</key>
  <string>imacron.glif</string>
  <key>itilde</key>
  <string>itilde.glif</string>
  <key>uni0137</key>
  <string>uni0137.glif</string>
  <key>uni013C</key>
  <string>uni013C_.glif</string>
  <key>tbar</key>
  <string>tbar.glif</string>
  <key>uni2015</key>
  <string>uni2015.glif</string>
  <key>umacron</key>
  <string>umacron.glif</string>
  <key>eng</key>
  <string>eng.glif</string>
  <key>Amacron</key>
  <string>Amacron_.glif</string>
  <key>Iogonek</key>
  <string>Iogonek_.glif</string>
  <key>Edotaccent</key>
  <string>Edotaccent_.glif</string>
  <key>uni0145</key>
  <string>uni0145.glif</string>
  <key>Omacron</key>
  <string>Omacron_.glif</string>
  <key>Utilde</key>
  <string>Utilde_.glif</string>
  <key>Uogonek</key>
  <string>Uogonek_.glif</string>
  <key>amacron</key>
  <string>amacron.glif</string>
  <key>iogonek</key>
  <string>iogonek.glif</string>
  <key>edotaccent</key>
  <string>edotaccent.glif</string>
  <key>uni0146</key>
  <string>uni0146.glif</string>
  <key>omacron</key>
  <string>omacron.glif</string>
  <key>utilde</key>
  <string>utilde.glif</string>
  <key>uogonek</key>
  <string>uogonek.glif</string>
  <key>kgreenlandic</key>
  <string>kgreenlandic.glif</string>
  <key>uni0156</key>
  <string>uni0156.glif</string>
  <key>uni0157</key>
  <string>uni0157.glif</string>
  <key>uni0218</key>
  <string>uni0218.glif</string>
  <key>uni0219</key>
  <string>uni0219.glif</string>
  <key>uni021A</key>
  <string>uni021A_.glif</string>
  <key>uni021B</key>
  <string>uni021B_.glif</string>
</dict>
</plist>
