<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ampersand</key>
    <string>ampersand.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>nine.numerator</key>
    <string>nine.numerator.glif</string>
    <key>nine.sansSerifBlackCircled</key>
    <string>nine.sansS_erifB_lackC_ircled.glif</string>
    <key>nine.ss03</key>
    <string>nine.ss03.glif</string>
    <key>one</key>
    <string>one.glif</string>
    <key>one.numerator</key>
    <string>one.numerator.glif</string>
    <key>one.sansSerifBlackCircled</key>
    <string>one.sansS_erifB_lackC_ircled.glif</string>
    <key>one.ss03</key>
    <string>one.ss03.glif</string>
    <key>one.tf</key>
    <string>one.tf.glif</string>
    <key>percent</key>
    <string>percent.glif</string>
    <key>percent.cap</key>
    <string>percent.cap.glif</string>
    <key>percent.tf</key>
    <string>percent.tf.glif</string>
    <key>pertenthousand</key>
    <string>pertenthousand.glif</string>
    <key>pertenthousand.cap</key>
    <string>pertenthousand.cap.glif</string>
    <key>perthousand</key>
    <string>perthousand.glif</string>
    <key>perthousand.cap</key>
    <string>perthousand.cap.glif</string>
    <key>seven</key>
    <string>seven.glif</string>
    <key>seven.numerator</key>
    <string>seven.numerator.glif</string>
    <key>seven.sansSerifBlackCircled</key>
    <string>seven.sansS_erifB_lackC_ircled.glif</string>
    <key>seven.ss03</key>
    <string>seven.ss03.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>six.numerator</key>
    <string>six.numerator.glif</string>
    <key>six.sansSerifBlackCircled</key>
    <string>six.sansS_erifB_lackC_ircled.glif</string>
    <key>six.ss03</key>
    <string>six.ss03.glif</string>
  </dict>
</plist>
