<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>1B3B3FF5-57FC-41E9-BC20-6B39D5BCBF78</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.ampersand</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.nine</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.nine.numerator</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.nine.sansSerifBlackCircled</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.nine.ss03</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.one</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.one.numerator</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.one.sansSerifBlackCircled</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.one.ss03</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.one.tf</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.percent</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.percent.cap</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.percent.tf</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.pertenthousand</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.pertenthousand.cap</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.perthousand</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.perthousand.cap</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.seven</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.seven.numerator</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.seven.sansSerifBlackCircled</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.seven.ss03</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.six</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.six.numerator</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.six.sansSerifBlackCircled</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.six.ss03</key>
      <integer>5</integer>
    </dict>
  </dict>
</plist>
