 #app, html, body {
   webkit-font-smoothing: none !important;
   max-width: 100%;
   height: 100%;
   // font-family: basis-grotesque-medium-pro, Helvetica, san-serif;
   // @include phone { font-size: 16px; }
   // @include tablet { font-size: 16px; }
   // @include laptop { font-size: 16px; }
   // @include desktop { font-size: 16px; }
   // letter-spacing: 0.15px;
   line-height: 1.35;
   font-variant-ligatures: none;
 }

 .password-overlay {
   width: 100vw;
   height: 100vh;
   background-color: var(--md-theme-default-primary);
 }

 .password-form {
   position: absolute;
   width: 25%;
   left: 50%;
   top: 50%;
   transform: translateX(-50%) translateY(-50%);
 }

 router-link-exact-active:hover {
   text-decoration: none !important;
   color: white !important;
   span {
     transform: scaleY(1) !important;
   }
 }

.nav-header {
  li {
    list-style: none;
    transform: translateZ(0);
    line-height: 72px;
    .router-link-exact-active {
      color: white !important;
      span {
        transform: scaleY(1);
      }
      &:hover {
        color: white !important;
        text-decoration: none;
      }
    }
    a {
      padding: 1em;
      font-size: 20px !important;
      text-transform: none;
      font-weight: 400;
      color: #9e9e9e !important;
      letter-spacing: 0;
      &:hover {
        color: white !important;
        text-decoration: none;
      }
      span {
        bottom: 0;
        height: 4px;
        background: #fff;
        position: absolute;
        transform-origin: bottom;
        left: 1em;
        right: 1em;
        transition: transform 235ms cubic-bezier(.4,0,.2,1);
        transform: scaleY(0);
      }
    }
  }
}

.logo {
 width: 24px;
 margin-left: 0.1em;
}

.logo-header {
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
  padding-left: 1em;
  text-transform: uppercase;
}

.controls-header {
  background-color: rgb(240,240,240) !important;
}

.md-medium {
  min-height: 72px !important;
}

.md-app {
   max-height: 100vh;
   height: 100vh;
}

.md-app-toolbar {
  background-color: #202124 !important;
}

.md-title {
  margin-left: 0 !important;
}

.md-app-content {
   padding: 0;
   border: none !important;
}

.md-drawer {
  background-color: rgb(252, 252, 252) !important;
  max-width: 350px;
  border-right: 1px solid transparent;
  border-right-color: var(--md-theme-default-divider-on-background, rgba(0, 0, 0, 0.12));
}

.md-radio {
  // display: flex;
}

.md-button {
  padding: 0 0.5em;
  margin: 0;
}

.md-toolbar {
  padding: 0 1.5em;
  // border-bottom: 1px solid #dddddd;
}

.g-1, .g-2 {
  &.vue-slider-component {
    .vue-slider-tooltip {
      background-color: var(--md-theme-default-primary);
      border: var(--md-theme-default-primary)
    }
    .vue-slider-process {
      background-color: var(--md-theme-default-primary);
    }
  }
}

.o-1 {
  &.vue-slider-component {
    .vue-slider-tooltip {
      background-color: var(--md-theme-default-accent);
      border: var(--md-theme-default-accent)
    }
    .vue-slider-process {
      background-color: var(--md-theme-default-accent);
    }
  }
}

.o-2 {
  &.vue-slider-component {
    .vue-slider-tooltip {
      background-color: #ffd740;
      border: #ffd740
    }
    .vue-slider-process {
      background-color: #ffd740;
    }
  }
}

.l {
  &.vue-slider-component {
    .vue-slider-tooltip {
      background-color: #00c853;
      border: #00c853
    }
    .vue-slider-process {
      background-color: #00c853;
    }
  }
}



[contenteditable]:focus {
    outline: 0px solid transparent;
}
