//breakpoints
$phone-width: 768px;
$tablet-width: 1024px;
$laptop-width: 1600px;

//colours
$google-green: #00c853;
$google-yellow: #ffd740;
// $primary-colour: #000;
// $secondary-colour: grey;
// $background-colour: #fff;
