<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>public.glyphOrder</key>
  <array>
    <string>.notdef</string>
    <string>G</string>
    <string>H</string>
    <string>I</string>
    <string>L</string>
    <string>O</string>
    <string>N</string>
    <string>A</string>
    <string>F</string>
    <string>M</string>
    <string>S</string>
    <string>o</string>
    <string>n</string>
    <string>m</string>
    <string>i</string>
    <string>l</string>
    <string>h</string>
    <string>a</string>
    <string>e</string>
    <string>f</string>
    <string>g</string>
    <string>s</string>
    <string>T</string>
    <string>B</string>
    <string>C</string>
    <string>D</string>
    <string>J</string>
    <string>K</string>
    <string>P</string>
    <string>R</string>
    <string>U</string>
    <string>V</string>
    <string>W</string>
    <string>X</string>
    <string>Y</string>
    <string>Z</string>
    <string>Q</string>
    <string>E</string>
    <string>space</string>
    <string>b</string>
    <string>d</string>
    <string>p</string>
    <string>q</string>
    <string>u</string>
    <string>c</string>
    <string>j</string>
    <string>k</string>
    <string>r</string>
    <string>t</string>
    <string>v</string>
    <string>w</string>
    <string>x</string>
    <string>y</string>
    <string>z</string>
    <string>period</string>
    <string>hyphen</string>
    <string>zero</string>
    <string>one</string>
    <string>two</string>
    <string>three</string>
    <string>B.alt</string>
    <string>four</string>
    <string>five</string>
    <string>six</string>
    <string>seven</string>
    <string>eight</string>
    <string>nine</string>
    <string>colon</string>
    <string>endash</string>
    <string>emdash</string>
    <string>exclam</string>
    <string>CR</string>
    <string>underscore</string>
    <string>grave</string>
    <string>comma</string>
    <string>acute</string>
    <string>dieresis</string>
    <string>circumflex</string>
    <string>caron</string>
    <string>semicolon</string>
    <string>ampersand</string>
    <string>quotesingle</string>
    <string>parenleft</string>
    <string>parenright</string>
    <string>bracketleft</string>
    <string>bracketright</string>
    <string>quotedbl</string>
    <string>tilde</string>
    <string>macron</string>
    <string>dotaccent</string>
    <string>breve</string>
    <string>cedilla</string>
    <string>ring</string>
    <string>equal</string>
    <string>ogonek</string>
    <string>hungarumlaut</string>
    <string>asciicircum</string>
    <string>less</string>
    <string>greater</string>
    <string>slash</string>
    <string>backslash</string>
    <string>guilsinglleft</string>
    <string>guilsinglright</string>
    <string>asciitilde</string>
    <string>braceleft</string>
    <string>braceright</string>
    <string>question</string>
    <string>at</string>
    <string>numbersign</string>
    <string>percent</string>
    <string>Thorn</string>
    <string>thorn</string>
    <string>uni0410</string>
    <string>uni0411</string>
    <string>uni0412</string>
    <string>uni0413</string>
    <string>uni0414</string>
    <string>uni0415</string>
    <string>uni0416</string>
    <string>uni0417</string>
    <string>uni0418</string>
    <string>uni0419</string>
    <string>uni041A</string>
    <string>uni041B</string>
    <string>uni041C</string>
    <string>uni041D</string>
    <string>uni041E</string>
    <string>uni041F</string>
    <string>uni0420</string>
    <string>uni0421</string>
    <string>uni0422</string>
    <string>uni0423</string>
    <string>uni0424</string>
    <string>uni0425</string>
    <string>uni0426</string>
    <string>uni0427</string>
    <string>uni0428</string>
    <string>uni0429</string>
    <string>uni042A</string>
    <string>uni042B</string>
    <string>uni042C</string>
    <string>uni042D</string>
    <string>uni042E</string>
    <string>uni042F</string>
    <string>uni0430</string>
    <string>uni0431</string>
    <string>uni0432</string>
    <string>uni0433</string>
    <string>uni0434</string>
    <string>uni0435</string>
    <string>uni0436</string>
    <string>uni0437</string>
    <string>uni0438</string>
    <string>uni0439</string>
    <string>uni043A</string>
    <string>uni043B</string>
    <string>uni043C</string>
    <string>uni043D</string>
    <string>uni043E</string>
    <string>uni043F</string>
    <string>uni0440</string>
    <string>uni0441</string>
    <string>uni0442</string>
    <string>uni0443</string>
    <string>uni0444</string>
    <string>uni0445</string>
    <string>uni0446</string>
    <string>uni0447</string>
    <string>uni0448</string>
    <string>uni0449</string>
    <string>uni044A</string>
    <string>uni044B</string>
    <string>dotlessi</string>
    <string>uni044C</string>
    <string>uni044D</string>
    <string>uni044E</string>
    <string>uni044F</string>
    <string>uni0451</string>
    <string>uni0452</string>
    <string>uni0453</string>
    <string>uni0454</string>
    <string>uni0455</string>
    <string>uni0456</string>
    <string>uni0457</string>
    <string>uni0458</string>
    <string>uni0459</string>
    <string>uni045A</string>
    <string>uni045B</string>
    <string>uni045C</string>
    <string>uni045E</string>
    <string>uni045F</string>
    <string>uni0402</string>
    <string>uni0403</string>
    <string>uni0404</string>
    <string>uni0405</string>
    <string>uni0406</string>
    <string>uni0407</string>
    <string>uni0408</string>
    <string>uni0409</string>
    <string>uni040A</string>
    <string>uni040B</string>
    <string>uni040E</string>
    <string>uni040F</string>
    <string>K.alt</string>
    <string>uni040C</string>
    <string>Alpha</string>
    <string>Beta</string>
    <string>Gamma</string>
    <string>uni0394</string>
    <string>Epsilon</string>
    <string>Zeta</string>
    <string>Eta</string>
    <string>Theta</string>
    <string>Iota</string>
    <string>Kappa</string>
    <string>K.alt2</string>
    <string>Lambda</string>
    <string>Mu</string>
    <string>Nu</string>
    <string>Xi</string>
    <string>Omicron</string>
    <string>Pi</string>
    <string>Rho</string>
    <string>Sigma</string>
    <string>Tau</string>
    <string>Upsilon</string>
    <string>Phi</string>
    <string>Chi</string>
    <string>Psi</string>
    <string>uni03A9</string>
    <string>Iotadieresis</string>
    <string>Upsilondieresis</string>
    <string>a.alt</string>
    <string>alpha</string>
    <string>germandbls</string>
    <string>beta</string>
    <string>gamma</string>
    <string>delta</string>
    <string>epsilon</string>
    <string>zeta</string>
    <string>eta</string>
    <string>theta</string>
    <string>iota</string>
    <string>kappa</string>
    <string>lambda</string>
    <string>uni03BC</string>
    <string>nu</string>
    <string>xi</string>
    <string>omicron</string>
    <string>rho</string>
    <string>sigma1</string>
    <string>sigma</string>
    <string>tau</string>
    <string>upsilon</string>
    <string>phi</string>
    <string>chi</string>
    <string>psi</string>
    <string>omega</string>
    <string>iotadieresis</string>
    <string>upsilondieresis</string>
    <string>omicrontonos</string>
    <string>upsilontonos</string>
    <string>omegatonos</string>
    <string>k.alt</string>
    <string>M.alt</string>
    <string>G.alt</string>
    <string>seven.alt</string>
    <string>six.alt</string>
    <string>nine.alt</string>
    <string>J.alt</string>
    <string>Q.alt</string>
    <string>Q.alt2</string>
    <string>asterisk</string>
    <string>quoteleft</string>
    <string>quoteright</string>
    <string>quotedblright</string>
    <string>R.alt</string>
    <string>q.alt</string>
    <string>y.alt</string>
    <string>trademark</string>
    <string>one.alt</string>
    <string>zero.alt</string>
    <string>I.alt</string>
    <string>dollar</string>
    <string>quotedblleft</string>
    <string>zero.cap</string>
    <string>one.cap</string>
    <string>two.cap</string>
    <string>three.cap</string>
    <string>four.cap</string>
    <string>five.cap</string>
    <string>six.cap</string>
    <string>seven.cap</string>
    <string>eight.cap</string>
    <string>nine.cap</string>
    <string>AE</string>
    <string>OE</string>
    <string>oe</string>
    <string>ae</string>
    <string>Oslash</string>
    <string>plus</string>
    <string>minus</string>
    <string>yen</string>
    <string>mu</string>
  </array>
</dict>
</plist>
