<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>calt1</key>
	<array>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
	</array>
	<key>case1</key>
	<array>
		<string>braceleft</string>
		<string>braceright</string>
		<string>bracketleft</string>
		<string>bracketright</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>at</string>
		<string>exclamdown</string>
		<string>questiondown</string>
		<string>hyphen</string>
		<string>endash</string>
		<string>emdash</string>
		<string>guilsinglleft</string>
		<string>guilsinglright</string>
		<string>guillemotleft</string>
		<string>guillemotright</string>
		<string>bullet</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>numbersign</string>
		<string>percent</string>
		<string>perthousand</string>
		<string>pertenthousand</string>
		<string>currency</string>
		<string>dollar</string>
		<string>cent</string>
		<string>Euro</string>
		<string>sterling</string>
		<string>yen</string>
		<string>uni20A4</string>
		<string>uni20A9</string>
		<string>uni20AB</string>
		<string>uni20AE</string>
		<string>uni20B1</string>
		<string>uni20B8</string>
		<string>uni20B9</string>
		<string>uni20BA</string>
		<string>uni20BD</string>
		<string>degree</string>
		<string>uni2103</string>
		<string>uni2109</string>
	</array>
	<key>case2</key>
	<array>
		<string>braceleft.cap</string>
		<string>braceright.cap</string>
		<string>bracketleft.cap</string>
		<string>bracketright.cap</string>
		<string>parenleft.cap</string>
		<string>parenright.cap</string>
		<string>at.cap</string>
		<string>exclamdown.cap</string>
		<string>questiondown.cap</string>
		<string>hyphen.cap</string>
		<string>endash.cap</string>
		<string>emdash.cap</string>
		<string>guilsinglleft.cap</string>
		<string>guilsinglright.cap</string>
		<string>guillemotleft.cap</string>
		<string>guillemotright.cap</string>
		<string>bullet.cap</string>
		<string>zero.cap</string>
		<string>one.cap</string>
		<string>two.cap</string>
		<string>three.cap</string>
		<string>four.cap</string>
		<string>five.cap</string>
		<string>six.cap</string>
		<string>seven.cap</string>
		<string>eight.cap</string>
		<string>nine.cap</string>
		<string>numbersign.cap</string>
		<string>percent.cap</string>
		<string>perthousand.cap</string>
		<string>pertenthousand.cap</string>
		<string>currency.cap</string>
		<string>dollar.cap</string>
		<string>cent.cap</string>
		<string>Euro.cap</string>
		<string>sterling.cap</string>
		<string>yen.cap</string>
		<string>uni20A4.cap</string>
		<string>uni20A9.cap</string>
		<string>uni20AB.cap</string>
		<string>uni20AE.cap</string>
		<string>uni20B1.cap</string>
		<string>uni20B8.cap</string>
		<string>uni20B9.cap</string>
		<string>uni20BA.cap</string>
		<string>uni20BD.cap</string>
		<string>degree.cap</string>
		<string>uni2103.cap</string>
		<string>uni2109.cap</string>
	</array>
	<key>dnom1</key>
	<array>
		<string>zero.denominator</string>
		<string>one.denominator</string>
		<string>two.denominator</string>
		<string>three.denominator</string>
		<string>four.denominator</string>
		<string>five.denominator</string>
		<string>six.denominator</string>
		<string>seven.denominator</string>
		<string>eight.denominator</string>
		<string>nine.denominator</string>
	</array>
	<key>frac1</key>
	<array>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>zero</string>
		<string>one.alt</string>
		<string>six.alt</string>
		<string>seven.alt</string>
		<string>nine.alt</string>
		<string>zero.alt</string>
	</array>
	<key>frac2</key>
	<array>
		<string>one.numerator</string>
		<string>two.numerator</string>
		<string>three.numerator</string>
		<string>four.numerator</string>
		<string>five.numerator</string>
		<string>six.numerator</string>
		<string>seven.numerator</string>
		<string>eight.numerator</string>
		<string>nine.numerator</string>
		<string>zero.numerator</string>
	</array>
	<key>frac3</key>
	<array>
		<string>fraction</string>
		<string>one.denominator</string>
		<string>two.denominator</string>
		<string>three.denominator</string>
		<string>four.denominator</string>
		<string>five.denominator</string>
		<string>six.denominator</string>
		<string>seven.denominator</string>
		<string>eight.denominator</string>
		<string>nine.denominator</string>
		<string>zero.denominator</string>
	</array>
	<key>numr1</key>
	<array>
		<string>slash</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
	</array>
	<key>numr2</key>
	<array>
		<string>fraction</string>
		<string>zero.numerator</string>
		<string>one.numerator</string>
		<string>two.numerator</string>
		<string>three.numerator</string>
		<string>four.numerator</string>
		<string>five.numerator</string>
		<string>six.numerator</string>
		<string>seven.numerator</string>
		<string>eight.numerator</string>
		<string>nine.numerator</string>
	</array>
	<key>salt1</key>
	<array>
		<string>G</string>
		<string>Gbreve</string>
		<string>Gcircumflex</string>
		<string>Gcommaaccent</string>
		<string>Gdotaccent</string>
		<string>I</string>
		<string>Iacute</string>
		<string>Ibreve</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Idotaccent</string>
		<string>Igrave</string>
		<string>Imacron</string>
		<string>Iogonek</string>
		<string>Itilde</string>
		<string>J</string>
		<string>Jcircumflex</string>
		<string>K</string>
		<string>Kcommaaccent</string>
		<string>M</string>
		<string>Q</string>
		<string>R</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>Rcommaaccent</string>
		<string>W</string>
		<string>Wacute</string>
		<string>Wcircumflex</string>
		<string>Wdieresis</string>
		<string>Wgrave</string>
		<string>a</string>
		<string>aacute</string>
		<string>abreve</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>aring</string>
		<string>aringacute</string>
		<string>ae</string>
		<string>aeacute</string>
		<string>atilde</string>
		<string>j</string>
		<string>k</string>
		<string>kcommaaccent</string>
		<string>r</string>
		<string>racute</string>
		<string>rcaron</string>
		<string>rcommaaccent</string>
		<string>q</string>
		<string>t</string>
		<string>tbar</string>
		<string>tcaron</string>
		<string>tcommaaccent</string>
		<string>f_j</string>
		<string>f_k</string>
		<string>f_t</string>
		<string>r_t</string>
		<string>t_f</string>
		<string>t_t</string>
		<string>f_f_j</string>
		<string>f_f_k</string>
		<string>f_f_t</string>
		<string>y</string>
		<string>yacute</string>
		<string>ycircumflex</string>
		<string>ydieresis</string>
		<string>ygrave</string>
		<string>zero</string>
		<string>one</string>
		<string>six</string>
		<string>seven</string>
		<string>nine</string>
		<string>apostrophe</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>quotesinglbase</string>
		<string>quotedblbase</string>
		<string>comma</string>
		<string>semicolon</string>
		<string>cedilla</string>
		<string>Ccedilla</string>
		<string>ccedilla</string>
		<string>Scedilla</string>
		<string>scedilla</string>
		<string>caron</string>
		<string>dieresistonos</string>
		<string>iotadieresistonos</string>
		<string>upsilondieresistonos</string>
	</array>
	<key>salt2</key>
	<array>
		<string>G.alt</string>
		<string>Gbreve.alt</string>
		<string>Gcircumflex.alt</string>
		<string>Gcommaaccent.alt</string>
		<string>Gdotaccent.alt</string>
		<string>I.alt</string>
		<string>Iacute.alt</string>
		<string>Ibreve.alt</string>
		<string>Icircumflex.alt</string>
		<string>Idieresis.alt</string>
		<string>Idotaccent.alt</string>
		<string>Igrave.alt</string>
		<string>Imacron.alt</string>
		<string>Iogonek.alt</string>
		<string>Itilde.alt</string>
		<string>J.alt</string>
		<string>Jcircumflex.alt</string>
		<string>K.alt</string>
		<string>Kcommaaccent.alt</string>
		<string>M.alt</string>
		<string>Q.alt</string>
		<string>R.alt</string>
		<string>Racute.alt</string>
		<string>Rcaron.alt</string>
		<string>Rcommaaccent.alt</string>
		<string>W.alt</string>
		<string>Wacute.alt</string>
		<string>Wcircumflex.alt</string>
		<string>Wdieresis.alt</string>
		<string>Wgrave.alt</string>
		<string>a.alt</string>
		<string>a.alt</string>
		<string>abreve.alt</string>
		<string>acircumflex.alt</string>
		<string>adieresis.alt</string>
		<string>agrave.alt</string>
		<string>amacron.alt</string>
		<string>aogonek.alt</string>
		<string>aring.alt</string>
		<string>aringacute.alt</string>
		<string>ae.alt</string>
		<string>aeacute.alt</string>
		<string>atilde.alt</string>
		<string>j.alt</string>
		<string>k.alt</string>
		<string>kcommaaccent.alt</string>
		<string>r.alt</string>
		<string>racute.alt</string>
		<string>rcaron.alt</string>
		<string>rcommaaccent.alt</string>
		<string>q.alt</string>
		<string>t.alt</string>
		<string>tbar.alt</string>
		<string>tcaron.alt</string>
		<string>tcommaaccent.alt</string>
		<string>f_j.alt</string>
		<string>f_k.alt</string>
		<string>f_t.alt</string>
		<string>r_t.alt</string>
		<string>t_f.alt</string>
		<string>t_t.alt</string>
		<string>f_f_j.alt</string>
		<string>f_f_k.alt</string>
		<string>f_f_t.alt</string>
		<string>y.alt</string>
		<string>yacute.alt</string>
		<string>ycircumflex.alt</string>
		<string>ydieresis.alt</string>
		<string>ygrave.alt</string>
		<string>zero.alt</string>
		<string>one.alt</string>
		<string>six.alt</string>
		<string>seven.alt</string>
		<string>nine.alt</string>
		<string>apostrophe.alt</string>
		<string>quotedblleft.alt</string>
		<string>quotedblright.alt</string>
		<string>quoteleft.alt</string>
		<string>quoteright.alt</string>
		<string>quotesinglbase.alt</string>
		<string>quotedblbase.alt</string>
		<string>comma.alt</string>
		<string>semicolon.alt</string>
		<string>cedilla.alt</string>
		<string>Ccedilla.alt</string>
		<string>ccedilla.alt</string>
		<string>Scedilla.alt</string>
		<string>scedilla.alt</string>
		<string>caron.alt</string>
		<string>dieresistonos.alt</string>
		<string>iotadieresistonos.alt</string>
		<string>upsilondieresistonos.alt</string>
	</array>
	<key>tnum1</key>
	<array>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>space</string>
		<string>period</string>
		<string>comma</string>
		<string>colon</string>
		<string>semicolon</string>
		<string>numbersign</string>
		<string>currency</string>
		<string>dollar</string>
		<string>cent</string>
		<string>Euro</string>
		<string>sterling</string>
		<string>yen</string>
		<string>uni20A4</string>
		<string>uni20A9</string>
		<string>uni20AB</string>
		<string>uni20AE</string>
		<string>uni20B1</string>
		<string>uni20B8</string>
		<string>uni20B9</string>
		<string>uni20BA</string>
		<string>uni20BD</string>
		<string>plus</string>
		<string>minus</string>
		<string>multiply</string>
		<string>divide</string>
		<string>plusminus</string>
		<string>greater</string>
		<string>less</string>
		<string>equal</string>
		<string>notequal</string>
		<string>lessequal</string>
		<string>greaterequal</string>
		<string>approxequal</string>
		<string>florin</string>
		<string>section</string>
		<string>logicalnot</string>
		<string>percent</string>
	</array>
	<key>tnum2</key>
	<array>
		<string>zero.tf</string>
		<string>one.tf</string>
		<string>two.tf</string>
		<string>three.tf</string>
		<string>four.tf</string>
		<string>five.tf</string>
		<string>six.tf</string>
		<string>seven.tf</string>
		<string>eight.tf</string>
		<string>nine.tf</string>
		<string>space.tf</string>
		<string>period.tf</string>
		<string>comma.tf</string>
		<string>colon.tf</string>
		<string>semicolon.tf</string>
		<string>numbersign.tf</string>
		<string>currency.tf</string>
		<string>dollar.tf</string>
		<string>cent.tf</string>
		<string>Euro.tf</string>
		<string>sterling.tf</string>
		<string>yen.tf</string>
		<string>uni20A4.tf</string>
		<string>uni20A9.tf</string>
		<string>uni20AB.tf</string>
		<string>uni20AE.tf</string>
		<string>uni20B1.tf</string>
		<string>uni20B8.tf</string>
		<string>uni20B9.tf</string>
		<string>uni20BA.tf</string>
		<string>uni20BD.tf</string>
		<string>plus.tf</string>
		<string>minus.tf</string>
		<string>multiply.tf</string>
		<string>divide.tf</string>
		<string>plusminus.tf</string>
		<string>greater.tf</string>
		<string>less.tf</string>
		<string>equal.tf</string>
		<string>notequal.tf</string>
		<string>lessequal.tf</string>
		<string>greaterequal.tf</string>
		<string>approxequal.tf</string>
		<string>florin.tf</string>
		<string>section.tf</string>
		<string>logicalnot.tf</string>
		<string>percent.tf</string>
	</array>
</dict>
</plist>
