<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>calt1</key>
	<array>
		<string>zero
one
two
three
four
five
six
seven
eight
nine</string>
	</array>
	<key>case1</key>
	<array>
		<string>braceleft
braceright
bracketleft
bracketright
parenleft
parenright

at
exclamdown
questiondown

hyphen
endash
emdash
guilsinglleft
guilsinglright
guillemotleft
guillemotright
bullet

zero
one
two
three
four
five
six
seven
eight
nine

numbersign
percent
perthousand
pertenthousand

currency
dollar
cent
Euro
sterling
yen
uni20A4
uni20A9
uni20AB
uni20AE
uni20B1
uni20B8
uni20B9
uni20BA
uni20BD

degree
uni2103
uni2109</string>
	</array>
	<key>case2</key>
	<array>
		<string>braceleft.cap
braceright.cap
bracketleft.cap
bracketright.cap
parenleft.cap
parenright.cap

at.cap
exclamdown.cap
questiondown.cap

hyphen.cap
endash.cap
emdash.cap
guilsinglleft.cap
guilsinglright.cap
guillemotleft.cap
guillemotright.cap
bullet.cap

zero.cap
one.cap
two.cap
three.cap
four.cap
five.cap
six.cap
seven.cap
eight.cap
nine.cap

numbersign.cap
percent.cap
perthousand.cap
pertenthousand.cap

currency.cap
dollar.cap
cent.cap
Euro.cap
sterling.cap
yen.cap
uni20A4.cap
uni20A9.cap
uni20AB.cap
uni20AE.cap
uni20B1.cap
uni20B8.cap
uni20B9.cap
uni20BA.cap
uni20BD.cap

degree.cap
uni2103.cap
uni2109.cap</string>
	</array>
	<key>dnom1</key>
	<array>
		<string>zero.denominator
one.denominator
two.denominator
three.denominator
four.denominator
five.denominator
six.denominator
seven.denominator
eight.denominator
nine.denominator</string>
	</array>
	<key>frac1</key>
	<array>
		<string>one
two
three
four
five
six
seven
eight
nine
zero

one.alt
six.alt
seven.alt
nine.alt
zero.alt</string>
	</array>
	<key>frac2</key>
	<array>
		<string>one.numerator
two.numerator
three.numerator
four.numerator
five.numerator
six.numerator
seven.numerator
eight.numerator
nine.numerator
zero.numerator</string>
	</array>
	<key>frac3</key>
	<array>
		<string>fraction
one.denominator
two.denominator
three.denominator
four.denominator
five.denominator
six.denominator
seven.denominator
eight.denominator
nine.denominator
zero.denominator</string>
	</array>
	<key>numr1</key>
	<array>
		<string>slash
zero
one
two
three
four
five
six
seven
eight
nine</string>
	</array>
	<key>numr2</key>
	<array>
		<string>fraction
zero.numerator
one.numerator
two.numerator
three.numerator
four.numerator
five.numerator
six.numerator
seven.numerator
eight.numerator
nine.numerator</string>
	</array>
	<key>salt1</key>
	<array>
		<string>G
Gbreve
Gcircumflex
Gcommaaccent
Gdotaccent

I
Iacute
Ibreve
Icircumflex
Idieresis
Idotaccent
Igrave
Imacron
Iogonek
Itilde

J
Jcircumflex

K
Kcommaaccent

M

Q

R
Racute
Rcaron
Rcommaaccent

W
Wacute
Wcircumflex
Wdieresis
Wgrave

a
aacute
abreve
acircumflex
adieresis
agrave
amacron
aogonek
aring
aringacute
ae
aeacute
atilde

j

k
kcommaaccent

r
racute
rcaron
rcommaaccent

q

t
tbar
tcaron
tcommaaccent

f_j
f_k
f_t
r_t
t_f
t_t

f_f_j
f_f_k
f_f_t

y
yacute
ycircumflex
ydieresis
ygrave

zero
one
six
seven
nine

apostrophe
quotedblleft
quotedblright
quoteleft
quoteright
quotesinglbase
quotedblbase
comma
semicolon

cedilla
Ccedilla
ccedilla
Scedilla
scedilla
caron

dieresistonos
iotadieresistonos
upsilondieresistonos</string>
	</array>
	<key>salt2</key>
	<array>
		<string>G.alt
Gbreve.alt
Gcircumflex.alt
Gcommaaccent.alt
Gdotaccent.alt

I.alt
Iacute.alt
Ibreve.alt
Icircumflex.alt
Idieresis.alt
Idotaccent.alt
Igrave.alt
Imacron.alt
Iogonek.alt
Itilde.alt

J.alt
Jcircumflex.alt

K.alt
Kcommaaccent.alt

M.alt

Q.alt

R.alt
Racute.alt
Rcaron.alt
Rcommaaccent.alt

W.alt
Wacute.alt
Wcircumflex.alt
Wdieresis.alt
Wgrave.alt

a.alt
a.alt
abreve.alt
acircumflex.alt
adieresis.alt
agrave.alt
amacron.alt
aogonek.alt
aring.alt
aringacute.alt
ae.alt
aeacute.alt
atilde.alt

j.alt

k.alt
kcommaaccent.alt

r.alt
racute.alt
rcaron.alt
rcommaaccent.alt

q.alt

t.alt
tbar.alt
tcaron.alt
tcommaaccent.alt

f_j.alt
f_k.alt
f_t.alt
r_t.alt
t_f.alt
t_t.alt

f_f_j.alt
f_f_k.alt
f_f_t.alt

y.alt
yacute.alt
ycircumflex.alt
ydieresis.alt
ygrave.alt

zero.alt
one.alt
six.alt
seven.alt
nine.alt

apostrophe.alt
quotedblleft.alt
quotedblright.alt
quoteleft.alt
quoteright.alt
quotesinglbase.alt
quotedblbase.alt
comma.alt
semicolon.alt

cedilla.alt
Ccedilla.alt
ccedilla.alt
Scedilla.alt
scedilla.alt
caron.alt

dieresistonos.alt
iotadieresistonos.alt
upsilondieresistonos.alt</string>
	</array>
	<key>tnum1</key>
	<array>
		<string>zero
one
two
three
four
five
six
seven
eight
nine

space
period
comma
colon
semicolon
numbersign

currency
dollar
cent
Euro
sterling
yen
uni20A4
uni20A9
uni20AB
uni20AE
uni20B1
uni20B8
uni20B9
uni20BA
uni20BD

plus
minus
multiply
divide
plusminus
greater
less
equal
notequal
lessequal
greaterequal
approxequal
florin
section
logicalnot
percent</string>
	</array>
	<key>tnum2</key>
	<array>
		<string>zero.tf</string>
		<string>
one.tf</string>
		<string>
two.tf</string>
		<string>
three.tf</string>
		<string>
four.tf</string>
		<string>
five.tf</string>
		<string>
six.tf</string>
		<string>
seven.tf</string>
		<string>
eight.tf</string>
		<string>
nine.tf</string>
		<string>

space.tf</string>
		<string>
period.tf</string>
		<string>
comma.tf</string>
		<string>
colon.tf</string>
		<string>
semicolon.tf</string>
		<string>
numbersign.tf</string>
		<string>

currency.tf</string>
		<string>
dollar.tf</string>
		<string>
cent.tf</string>
		<string>
Euro.tf</string>
		<string>
sterling.tf</string>
		<string>
yen.tf</string>
		<string>
uni20A4.tf
uni20A9.tf
uni20AB.tf
uni20AE.tf
uni20B1.tf
uni20B8.tf
uni20B9.tf
uni20BA.tf
uni20BD.tf

plus.tf</string>
		<string>
minus.tf</string>
		<string>
multiply.tf</string>
		<string>
divide.tf</string>
		<string>
plusminus.tf</string>
		<string>
greater.tf</string>
		<string>
less.tf</string>
		<string>
equal.tf</string>
		<string>
notequal.tf</string>
		<string>
lessequal.tf</string>
		<string>
greaterequal.tf</string>
		<string>
approxequal.tf</string>
		<string>
florin.tf</string>
		<string>
section.tf</string>
		<string>
logicalnot.tf</string>
		<string>
percent.tf</string>
		<string></string>
	</array>
</dict>
</plist>
